*~
*.a
*.o
*.dll
*.so
*.cmi
*.cmx
*.cmxs
*.cmxa
*.cmo
*.cma
*.cmt
*.opt
*.run
*.cmti
*.annot
*.exe
*.dll
*.lib
*.obj
*.log
*.cache
*.status
*.omc
*.out
*.tar.gz
*.tar.xz
*.tar
*.gcda
*.gcno
*.gcov
*.idoc
*.install
*.orig
/setup.ml
/.omakedb*
/_build
/src-js/.merlin
/src-unix/META
/src-unix/uwt_js.mli
